# See README.md for details on all of these variables.
export AWS_ACCESS_KEY_ID=dummy key
export AWS_SECRET_ACCESS_KEY=dummy access key
export BUCKET_NAME=tax-tribs-doc-upload-test
export MOJSSO_ID=dummy id
export MOJSSO_SECRET=dummy secret
export MOJSSO_URL=http://localhost:5000
export MOJSSO_ORG=hmcts.moj
export MOJSSO_ROLE=viewer
export MOJSSO_CALLBACK_URI=http://localhost:3000/oauth/callback
export MOJSSO_TOKEN_REDIRECT_URI=http://localhost:3000/oauth/callback
